h1 {
    display: inline;
    margin-left: 10px;
    color: black;
}

img {
    margin-top: 50px;
    margin-right: 25px;
}

button {
    margin-right: 5px;
}

.overlay_container {
    position: relative;
    color: black;
    font-weight: bold;
    margin-left: 5px;

}

.overlay {
    position: absolute;
    top: 50%;
    left: 75px;
    transform: translate(-50%, -50%);
    text-align: center;
}

#slogan {
    padding-left: 50px;
}

#bet_another_card_button {
    margin-left: 75px;
}

#network_gif {
    margin-bottom: 90px;
}
